.header {

    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

   

    &__registration {
      display: flex;
      align-items: center;

      &-title {
        font-family: 'Roboto', sans-serif;
        color: blue;
        margin-right: 10px;
        font-weight: 300;
        font-size: 14px;
        font-weight: 400;
        padding: 5px 8px;
        border-radius: 8px;
  
        &:hover {
          background-color: #a5a7ad36;
        }
      }
    }
  }

