.form-registration {
  width:500px;
  margin:0 auto;
  background-color: #ebe2d6;
  border-radius: 5px;
  position: relative;

}

.form-registration__label {
  text-align: center;
  margin-bottom: 30px;
}

.form-registration__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-registration__main :nth-child(1n) {
  margin-bottom: 5px;
 }

 .form-registration__email {
  margin-top: 25px;
 }

 #firstName {
  margin-left: 105px;
 }

 #secondName {
  margin-left: 64px;
 }

 #password {
  margin-left: 53px;
 }

 #passwordRepeat {
  margin-left: 112px;
 }

 #phone {
  margin-left: 92px;
 }

 .form-registration__button {
   height:30px;
   width: 200px;
   margin: 0 auto;
   background-color: blue;
   color:whitesmoke;
   border-radius: 20px;
   border: 2px solid black;
   margin-top: 25px;
   box-shadow: 2px 2px 14px 4px gray;
 }

 .form-registration__button:hover {
  cursor: pointer;  
}

.form-registration__interests{
  margin-top: 15px;
}

#intests{
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

#bithday{
  /* margin-left: 142px; */
  margin-left: 128px;
  width:173px;
}

