* {
  box-sizing:border-box;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: burlywood;
  height:50px;
  width: 100vw;
}

main {
  width:100vw;
  border: 2px solid green;
}

#nav a {
  text-decoration: none;
  color: blue;
}

header div span{
  color: wheat;
 margin-left: 30px;
}

header {
  display: flex;
  align-items:center;
  width:100vw;
  background-color: rgb(18, 48, 87);
  height:120px;
}

header div img{
  width:90px;
  height:70px;
  margin: 10px;
}

#registration {
  position: absolute;
  right: 1%;
}

.news {
  padding:10px;
}

.lastNews {
  /* padding: 10px; */
  background-color: rgb(236, 241, 247)
}

h2 {
  margin-top: 0px;
}

.important {
  margin-left: 0px;
  width:100%;
  padding:15px;
  background-color: rgb(247, 227, 231);
  border: 4px solid red;
  z-index: 2;
}

footer {
  padding: 20px;
  justify-content: right;
  display: flex;
  align-items:center;
  height: 100px;

  background-color: rgb(153, 175, 196);
}

footer a{
  text-decoration: none;
  color: black
}

footer h3{
  position: absolute;
  left:5%;
}

address {
  margin-left: 20px;
}

.notImportant {
  text-shadow: 2px 2px 4px pink; 
  background-color: slategray;
  color: black;
  padding:15px;
}


#gradientTest {
  text-shadow: 2px 2px 2px white,4px 4px 4px black,6px 6px 6px white, 8px 8px 8px black, 10px 10px 10px white, 12px 12px 12px black;
  display: flex;
  justify-content: center;
  align-items:center;
  text-transform: uppercase;
  height: 200px;
  width: 100vw;
  background: linear-gradient(to right, #bdbcb8, #b8770f);
  }


  #gradientTest2 {
    display: flex;
    justify-content: center;
    align-items:center;
    text-transform: uppercase;
    height: 200px;
    width: 100vw;
    background: radial-gradient(at top, red, blue);
    }

@keyframes moveCircle{

      0%{
        margin-left:20px;
        background: radial-gradient(circle at 25% 15%, green, yellow)
      }

      50%{
        height: 50px;
        width: 50px;
        background: radial-gradient(circle at 25% 15%, red, rgb(55, 0, 255))
      } 
    
      100%{
        margin-left: 1100px;
    } 
  }

  #ball {
    text-transform: uppercase;
    height: 200px;
    width: 200px;
    border-radius:50%;
    background: radial-gradient(circle at 25% 15%, green, yellow); 
    animation-name: moveCircle;
    animation-duration: 5s;
    animation-iteration-count: 6;
    animation-delay: 2s;
    animation-direction: alternate;
  }

  #ball:hover {
   animation-play-state: paused;
  }
    
#ballMain {
 height: 300px;
 text-align: center;
 padding: 20px;
}