.firstBlock {
  display: flex;
  justify-content: space-evenly;
}

.firstBlock :nth-child(1n) {
  width:150px;
  height: 150px;
  background-color: red;
}
    

.secondtBlock{
  display: flex;
  justify-content: space-between;
}

.secondtBlock :nth-child(1n) {
  width:150px;
  height: 150px;
  background-color: blue;
}

.thirdBlock{
  display: flex;
  justify-content: space-around;
}

.thirdBlock :nth-child(1n) {
  width:150px;
  height: 150px;
  background-color: green;
}


.Block4{
  display: flex;
  justify-content: space-around;
  align-items:center
}

.Block4 :nth-child(1n) {
  width:150px;
  height: 50px;
  background-color: yellow;
}

.Block4 :nth-child(2){
  height:200px
}

.Block5{
  display: flex;
  justify-content: space-around;
  align-items:flex-end;
  color:whitesmoke
}

.Block5 :nth-child(1n) {
  width:150px;
  height: 50px;
  background-color: black;
}

.Block5 :nth-child(2){
  height:200px
}

.Block5 :nth-child(5){
  align-self:start;
}

.Block6{
  display: flex;
  justify-content: space-around;
flex-flow:row wrap;
}

.Block6 :nth-child(1n) {
  width:300px;
  height: 50px;
  background-color: palegreen;
  align-content:space-between;
margin:10px

}

*{margin:0;box-sizing: border-box; padding:10px}
section {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
p {
  padding: 20px 0;
}
.container {
  perspective: 500px;
  margin: 0 40px;
  background: rgba(195,209,212, .7); 
  transform-style: flat;
}
.style-3d {
  transform-style: preserve-3d;
}
.flip {
  height: 160px;
  transform: rotateX(45deg);
  border-radius: 5px;
  background: rgba(169,90,145, .8);
  animation: rotate 5s infinite;
}
@keyframes rotate {
  50% {
    transform: none;
    }
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  gap:10px;
}

.wrapper :nth-child(1n){
  height: 100px;
border: 2px solid green;
  background-color: palevioletred;
}

.generalDiv{
  height: 500px;
  background-color: yellow;
  position: relative;
  transition: 1s;
}

@media (min-width:960px) and (max-width:1720px){
  .generalDiv{
      height: 900px;
      background-color: yellow;
      position: relative;
      transition: 1s;
  }
}

@media (min-width:0px) and (max-width:959px){
  .generalDiv{
      height: 1800px;
      background-color: yellow;
      position: relative;
      transition: 1s;
  }
}

.generalDiv .inline1{
  position: absolute;
  display: inline-block;
  left: 200px;
  top:100px;
  width: 300px;
  height: 300px;
  background-color: yellowgreen;
  transition: 1s;
}

.generalDiv .inline2{
  position: absolute;
  display: inline-block;
  left: 600px;
  top:100px;
  width: 300px;
  height: 300px;
  background-color: pink;
  transition: 1s;
}

.generalDiv .inline3{
  position: absolute;
  display: inline-block;
  left: 1000px;
  top:100px;
  width: 300px;
  height: 300px;
  background-color: blue;
  transition: 1s;
}

.generalDiv .inline4{
  position: absolute;
  display: inline-block;
  left: 1400px;
  top:100px;
  width: 300px;
  height: 300px;
  background-color: red;
  transition: 1s;
}

@media (min-width:960px) and (max-width:1720px){
  .generalDiv .inline3{
      position: absolute;
      display: inline-block;
      left: 200px;
      top:500px;
      width: 300px;
      height: 300px;
      background-color: blue;
      transition: 1s;

  }
  .generalDiv .inline4{
      position: absolute;
      display: inline-block;
      left: 600px;
      top:500px;
      width: 300px;
      height: 300px;
      background-color: red;
      transition: 1s;
  }
}

@media (min-width:0px) and (max-width:959px){
  .generalDiv .inline1{
      position: absolute;
      display: inline-block;
      left: 200px;
      top:100px;
      width: 300px;
      height: 300px;
      background-color: yellowgreen;
      transition: 1s;
  }
  .generalDiv .inline2{
      position: absolute;
      display: inline-block;
      left: 200px;
      top:500px;
      width: 300px;
      height: 300px;
      background-color: pink;
      transition: 1s;
  }
  .generalDiv .inline3{
      position: absolute;
      display: inline-block;
      left: 200px;
      top:900px;
      width: 300px;
      height: 300px;
      background-color: blue;
      transition: 1s;
  }
  .generalDiv .inline4{
      position: absolute;
      display: inline-block;
      left: 200px;
      top:1300px;
      width: 300px;
      height: 300px;
      background-color: red;
      transition: 1s;
  }
}

